{% extends 'board/default.html' %}
{% load custom_filters %}
{% load static %}

{% block content %}
    <h2>Создание объявления</h2>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div>
            <label for="id_category">Категория:</label>
            {{ form.category }}
        </div>
        <div>
            <label for="id_title">Заголовок:</label>
            {{ form.title }}
        </div>
        <div>
            <label for="id_text">Текст:</label>
            {{ form.text }}
        </div>
        <div>
            <label for="id_image">Изображение:</label>
            {{ form.image }}
        </div>
        <div>
            <label for="id_video">Видео:</label>
            {{ form.video }}
        </div>
        <button type="submit">Принять</button>
    </form>
<script src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>
<script>
    CKEDITOR.replace('{{ form.text.auto_id }}');
</script>
{% endblock %}

